<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Tower_001_attack_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,2},{95,73}}</string>
                <key>offset</key>
                <string>{34,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,21},{95,73}}</string>
                <key>sourceSize</key>
                <string>{163,103}</string>
            </dict>
            <key>Tower_001_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,2},{51,95}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,0},{51,95}}</string>
                <key>sourceSize</key>
                <string>{163,103}</string>
            </dict>
            <key>Tower_001_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{99,75}}</string>
                <key>offset</key>
                <string>{-32,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{99,75}}</string>
                <key>sourceSize</key>
                <string>{163,103}</string>
            </dict>
            <key>Tower_001_stand_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{85,69}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{85,69}}</string>
                <key>sourceSize</key>
                <string>{85,71}</string>
            </dict>
            <key>Tower_001_stand_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,79},{85,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,71}}</string>
                <key>sourceSize</key>
                <string>{85,71}</string>
            </dict>
            <key>Tower_001_stand_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,77},{85,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,71}}</string>
                <key>sourceSize</key>
                <string>{85,71}</string>
            </dict>
            <key>Tower_001_stand_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,79},{85,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,71}}</string>
                <key>sourceSize</key>
                <string>{85,71}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Tower_001.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b73104b406929df6b40ae3e1e3281940$</string>
            <key>textureFileName</key>
            <string>Tower_001.png</string>
        </dict>
    </dict>
</plist>
