<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>DoubleSpeed_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,642},{52,50}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,10},{52,50}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>DoubleSpeed_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,636},{54,54}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{54,54}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>GameMapInfoLayer_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,2},{324,148}}</string>
                <key>offset</key>
                <string>{-4,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{324,148}}</string>
                <key>sourceSize</key>
                <string>{332,160}</string>
            </dict>
            <key>GameMapInfoLayer_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{324,516}}</string>
                <key>offset</key>
                <string>{-4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{324,516}}</string>
                <key>sourceSize</key>
                <string>{332,528}</string>
            </dict>
            <key>GameMapInfoLayer_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,328},{196,66}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{196,66}}</string>
                <key>sourceSize</key>
                <string>{200,72}</string>
            </dict>
            <key>GameMapInfoLayer_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,328},{274,100}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{274,100}}</string>
                <key>sourceSize</key>
                <string>{280,104}</string>
            </dict>
            <key>Pause_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,604},{54,54}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{54,54}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Pause_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,584},{60,60}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{60,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>WaveIcon_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,158},{32,50}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{32,50}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>WaveIcon_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,106},{32,50}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{32,50}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>WaveIcon_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,54},{32,50}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{32,50}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>WaveIcon_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,2},{32,50}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{32,50}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>WaveIcon_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,604},{36,50}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{36,50}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>WaveIcon_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,646},{44,52}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,1},{44,52}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>WaveIcon_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,584},{50,56}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,1},{50,56}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>WaveIcon_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,584},{56,60}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{56,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>WaveIcon_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,584},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{62,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>WaveIcon_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,584},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{62,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>WaveIcon_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,520},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{62,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>WaveIcon_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,520},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{62,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>WaveIcon_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,520},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{62,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>WaveIcon_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,520},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{62,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>WaveIcon_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,520},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{62,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>WaveIcon_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,590},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{62,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>WaveIcon_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,526},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{62,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GameMapInfoLayer.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e6dff5cbb3acebbcee986f09b3da591f$</string>
            <key>textureFileName</key>
            <string>GameMapInfoLayer.png</string>
        </dict>
    </dict>
</plist>
