<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>m001_death_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,337},{67,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,100}}</string>
                <key>sourceSize</key>
                <string>{67,100}</string>
            </dict>
            <key>m001_death_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,220},{96,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,92}}</string>
                <key>sourceSize</key>
                <string>{96,92}</string>
            </dict>
            <key>m001_death_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,2},{104,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,60}}</string>
                <key>sourceSize</key>
                <string>{104,60}</string>
            </dict>
            <key>m001_death_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,108},{95,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,77}}</string>
                <key>sourceSize</key>
                <string>{95,77}</string>
            </dict>
            <key>m001_death_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{40,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,125}}</string>
                <key>sourceSize</key>
                <string>{40,125}</string>
            </dict>
            <key>m001_death_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,439},{68,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,82}}</string>
                <key>sourceSize</key>
                <string>{68,82}</string>
            </dict>
            <key>m001_death_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,81},{64,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,72}}</string>
                <key>sourceSize</key>
                <string>{64,72}</string>
            </dict>
            <key>m001_death_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,2},{87,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,77}}</string>
                <key>sourceSize</key>
                <string>{87,77}</string>
            </dict>
            <key>m001_death_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,2},{88,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,76}}</string>
                <key>sourceSize</key>
                <string>{88,76}</string>
            </dict>
            <key>m001_death_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,337},{100,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,68}}</string>
                <key>sourceSize</key>
                <string>{100,68}</string>
            </dict>
            <key>m001_death_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,439},{93,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,64}}</string>
                <key>sourceSize</key>
                <string>{93,64}</string>
            </dict>
            <key>m001_death_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,2},{93,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,47}}</string>
                <key>sourceSize</key>
                <string>{93,47}</string>
            </dict>
            <key>m001_death_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,466},{97,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,38}}</string>
                <key>sourceSize</key>
                <string>{97,38}</string>
            </dict>
            <key>m001_death_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,220},{98,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,37}}</string>
                <key>sourceSize</key>
                <string>{98,37}</string>
            </dict>
            <key>m001_move_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,2},{113,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,83}}</string>
                <key>sourceSize</key>
                <string>{113,83}</string>
            </dict>
            <key>m001_move_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,117},{110,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,85}}</string>
                <key>sourceSize</key>
                <string>{110,85}</string>
            </dict>
            <key>m001_move_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,112},{106,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,84}}</string>
                <key>sourceSize</key>
                <string>{106,84}</string>
            </dict>
            <key>m001_move_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,356},{108,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,85}}</string>
                <key>sourceSize</key>
                <string>{108,85}</string>
            </dict>
            <key>m001_move_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,129},{113,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,83}}</string>
                <key>sourceSize</key>
                <string>{113,83}</string>
            </dict>
            <key>m001_move_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{110,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,85}}</string>
                <key>sourceSize</key>
                <string>{110,85}</string>
            </dict>
            <key>m001_move_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,229},{106,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,84}}</string>
                <key>sourceSize</key>
                <string>{106,84}</string>
            </dict>
            <key>m001_move_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,2},{108,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,85}}</string>
                <key>sourceSize</key>
                <string>{108,85}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Monster_001.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:41a63f5571a2ae2df97760facf9c9ee8$</string>
            <key>textureFileName</key>
            <string>Monster_001.png</string>
        </dict>
    </dict>
</plist>
