<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Tower_005_attack_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,157},{143,143}}</string>
                <key>offset</key>
                <string>{28,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,14},{143,143}}</string>
                <key>sourceSize</key>
                <string>{199,157}</string>
            </dict>
            <key>Tower_005_attack_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,176},{99,87}}</string>
                <key>offset</key>
                <string>{18,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,40},{99,87}}</string>
                <key>sourceSize</key>
                <string>{199,157}</string>
            </dict>
            <key>Tower_005_attack_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{167,153}}</string>
                <key>offset</key>
                <string>{-16,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,153}}</string>
                <key>sourceSize</key>
                <string>{199,157}</string>
            </dict>
            <key>Tower_005_stand_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,118},{56,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,72}}</string>
                <key>sourceSize</key>
                <string>{56,72}</string>
            </dict>
            <key>Tower_005_stand_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,60},{56,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,72}}</string>
                <key>sourceSize</key>
                <string>{56,72}</string>
            </dict>
            <key>Tower_005_stand_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,2},{56,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,72}}</string>
                <key>sourceSize</key>
                <string>{56,72}</string>
            </dict>
            <key>Tower_005_stand_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,60},{56,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,72}}</string>
                <key>sourceSize</key>
                <string>{56,72}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Tower_005.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2f42a7e33a94c0fea302141055860355$</string>
            <key>textureFileName</key>
            <string>Tower_005.png</string>
        </dict>
    </dict>
</plist>
