<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>e001_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,354},{110,28}}</string>
                <key>offset</key>
                <string>{2,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,36},{110,28}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>e001_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,372},{110,32}}</string>
                <key>offset</key>
                <string>{3,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,32},{110,32}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>e001_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,208},{110,36}}</string>
                <key>offset</key>
                <string>{3,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,28},{110,36}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>e001_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,412},{110,40}}</string>
                <key>offset</key>
                <string>{3,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,24},{110,40}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>e001_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,314},{110,44}}</string>
                <key>offset</key>
                <string>{3,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,20},{110,44}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>e001_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,264},{110,48}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,16},{110,48}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>e001_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{110,50}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,14},{110,50}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>e001_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,256},{110,52}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,12},{110,52}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>e001_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,500},{108,54}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,10},{108,54}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>e001_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,442},{108,56}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{108,56}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>e001_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,556},{104,56}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,7},{104,56}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>e001_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,568},{106,54}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,8},{106,54}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>e001_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,512},{106,54}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,8},{106,54}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>e001_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,446},{108,54}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,8},{108,54}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>e001_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,208},{110,54}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,8},{110,54}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>e001_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{110,52}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{110,52}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>e001_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{110,52}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{110,52}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>e001_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,254},{110,50}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{110,50}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>e001_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,362},{110,48}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,14},{110,48}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>e001_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,306},{110,44}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,18},{110,44}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>e001_020.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,352},{110,40}}</string>
                <key>offset</key>
                <string>{3,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,22},{110,40}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>e001_021.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,148},{110,38}}</string>
                <key>offset</key>
                <string>{3,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,24},{110,38}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>e001_022.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,260},{110,34}}</string>
                <key>offset</key>
                <string>{3,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,28},{110,34}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>e001_023.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,454},{110,28}}</string>
                <key>offset</key>
                <string>{3,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,34},{110,28}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>e001_024.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,388},{110,26}}</string>
                <key>offset</key>
                <string>{3,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,36},{110,26}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>e001_025.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,420},{110,24}}</string>
                <key>offset</key>
                <string>{3,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,38},{110,24}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>e001_026.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,416},{110,24}}</string>
                <key>offset</key>
                <string>{3,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,38},{110,24}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>e001_027.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,394},{110,24}}</string>
                <key>offset</key>
                <string>{3,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,38},{110,24}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>e001_028.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,360},{110,26}}</string>
                <key>offset</key>
                <string>{3,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,36},{110,26}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>e001_029.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,484},{108,26}}</string>
                <key>offset</key>
                <string>{3,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,36},{108,26}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>e001_030.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,484},{108,26}}</string>
                <key>offset</key>
                <string>{3,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,36},{108,26}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>e001_031.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,552},{108,26}}</string>
                <key>offset</key>
                <string>{3,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,36},{108,26}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>e001_032.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,466},{108,26}}</string>
                <key>offset</key>
                <string>{3,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,36},{108,26}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>e001_033.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,530},{106,26}}</string>
                <key>offset</key>
                <string>{4,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,36},{106,26}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>e001_034.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,502},{106,26}}</string>
                <key>offset</key>
                <string>{4,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,36},{106,26}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>e001_035.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,558},{104,24}}</string>
                <key>offset</key>
                <string>{5,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,37},{104,24}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>e002_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,158},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,24},{16,16}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>e002_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,140},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,24},{16,16}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>e002_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,320},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,16},{32,32}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>e002_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,98},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>e002_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,272},{62,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{62,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>e003_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,336},{102,108}}</string>
                <key>offset</key>
                <string>{-13,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{102,108}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>e003_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,2},{70,94}}</string>
                <key>offset</key>
                <string>{-28,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,13},{70,94}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>e003_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,126},{80,128}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,0},{80,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>e004_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,584},{102,102}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,20},{102,102}}</string>
                <key>sourceSize</key>
                <string>{150,148}</string>
            </dict>
            <key>e004_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,446},{106,104}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,17},{106,104}}</string>
                <key>sourceSize</key>
                <string>{150,148}</string>
            </dict>
            <key>e004_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{150,144}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,144}}</string>
                <key>sourceSize</key>
                <string>{150,148}</string>
            </dict>
            <key>e004_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{142,136}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{142,136}}</string>
                <key>sourceSize</key>
                <string>{150,148}</string>
            </dict>
            <key>e004_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,2},{134,122}}</string>
                <key>offset</key>
                <string>{7,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,9},{134,122}}</string>
                <key>sourceSize</key>
                <string>{150,148}</string>
            </dict>
            <key>e004_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,140},{122,112}}</string>
                <key>offset</key>
                <string>{10,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,17},{122,112}}</string>
                <key>sourceSize</key>
                <string>{150,148}</string>
            </dict>
            <key>e004_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,164},{106,82}}</string>
                <key>offset</key>
                <string>{18,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,53},{106,82}}</string>
                <key>sourceSize</key>
                <string>{150,148}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_000.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b44962fb1314c2de441997fbb274967c$</string>
            <key>textureFileName</key>
            <string>effect_000.png</string>
        </dict>
    </dict>
</plist>
